---
import Layout from "@/layouts/Layout.astro";
import { cn, fetchClient } from "@/lib/utils";
import { Debug } from "astro:components";
import { Progress } from "@/components/ui/progress";
import { Badge } from "@/components/ui/badge";
import type { Ticket, TicketUpdate } from "@/db/schema";
import { RequestDetailsLeft } from "@/components/requests/RequestDetailsLeft";
import { RequestDetailsRight } from "@/components/requests/RequestDetailsRight";

const { requestId } = Astro.params;

if (!requestId) {
  return Astro.redirect("/tickets");
}

if (!Astro.locals.user) {
  return Astro.redirect("/tickets");
}

let request;
try {
  const response = await fetchClient.api
    .request({ requestId: requestId as string })
    .get({
      headers: Object.fromEntries(Astro.request.headers.entries()),
    });

  console.log("resq", response.data.request.user.id);

  request = response.data.request;
} catch (error) {
  return Astro.redirect("/tickets?error=failed-to-load");
}

if (!request) {
  return Astro.redirect("/tickets?error=not-found");
}
---

<Layout>
  <div class="flex flex-col lg:flex-row gap-6 max-w-7xl mx-auto p-4">
    <RequestDetailsLeft
      isAdmin={Astro.locals.user?.role === "admin"}
      requestId={requestId}
      client:only="react"
    />

    <RequestDetailsRight
      requestId={requestId}
      isAdmin={Astro.locals.user?.role === "admin"}
      userId={Astro.locals.user?.id!}
      client:only="react"
    />
  </div>
</Layout>
