---
import { AnnouncementFeed } from "@/components/AnnouncementFeed";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Announcements">
  <h1>Announcements</h1>
  <AnnouncementFeed />
</Layout>
