---
import { fetchClient } from "@/lib/utils";
import Layout from "../layouts/Layout.astro";
import SequenceComp from "@/components/home/SequenceComp.astro";
import InitialModal from "@/components/InitialModal.astro";
import Footer from "@/components/Footer.astro";
const data = Astro.locals;
---

<Layout>
  <InitialModal server:defer />
  <div class="w-full h-fit bg-gradient-to-b from-red-50 via-white to-red-100">
    <SequenceComp server:defer>
      <div slot="fallback" class="w-full h-full bg-red-50 overflow-x-hidden">
        <div
          class="w-full max-w-[90vw] md:max-w-[85vw] lg:max-w-[80vw] mx-auto py-8 space-y-8 animate-pulse"
        >
          {/* News & Announcement block */}
          <div
            class="w-full h-24 bg-gradient-to-r from-red-100 via-white to-red-100 rounded-xl"
          >
          </div>

          {/* Highlights Block */}
          <div
            class="w-full min-h-[85vh] bg-gradient-to-br from-red-100 via-white to-red-200 rounded-2xl p-8 flex flex-col justify-center items-center"
          >
            <div class="w-full max-w-3xl space-y-6">
              <div class="h-8 w-24 bg-red-100 rounded-full"></div>
              <div class="h-12 w-3/4 bg-red-100 rounded-lg"></div>
              <div class="h-32 w-full bg-red-100 rounded-lg"></div>
              <div class="flex gap-4">
                <div class="h-10 w-32 bg-red-100 rounded-full"></div>
                <div class="h-10 w-32 bg-red-100 rounded-full"></div>
              </div>
            </div>
          </div>

          {/* Carousel block */}
          <div
            class="w-full h-96 bg-gradient-to-r from-red-200 via-white to-red-200 rounded-xl"
          >
          </div>

          {/* Downloadable Content block */}
          <div class="w-full space-y-4">
            {
              [1, 2, 3].map(() => (
                <div class="w-full h-24 bg-gradient-to-r from-red-200 via-white to-red-200 rounded-xl" />
              ))
            }
          </div>
        </div>
      </div>
    </SequenceComp>
  </div>
</Layout>
