---
import HeroSection from "@/components/home/HeroSection.astro";
import Layout from "@/layouts/Layout.astro";
import Carousel from "@/components/home/Carousel.astro";
import List from "@/components/home/List.astro";
import { fetchClient } from "@/lib/utils";
import MarqueeNest from "./MarqueeNest.astro";
import Footer from "../Footer.astro";
const data = Astro.locals;

const { data: configData } = await fetchClient.api.config.get();

const defaultOrder = [1, 2, 3, 4];

const componentMap = {
  1: MarqueeNest, // News & Announcement block
  2: HeroSection, // Highlights Block
  3: Carousel, // Carousel block
  4: List, // Downloadable Content block
};
---

<div class="w-full h-fit bg-gradient-to-b from-red-50 via-white to-red-100">
  {
    configData
      ? configData.sequence.map((index: number) => {
          const Component = componentMap[index as keyof typeof componentMap];
          return Component && <Component />;
        })
      : defaultOrder.map((index) => {
          const Component = componentMap[index as keyof typeof componentMap];
          return Component && <Component />;
        })
  }
</div>
