<footer class="bg-gradient-to-b from-white to-red-100">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="lg:flex lg:items-start lg:gap-8">
      <div class="text-red-600">
        <img src="/marawoy-logo.png" alt="logo" class="w-48 aspect-square" />
      </div>

      <div
        class="mt-8 grid grid-cols-2 gap-8 lg:mt-0 lg:grid-cols-4 lg:gap-y-16"
      >
        <!-- About Section -->
        <div class="col-span-2 sm:col-span-1">
          <p class="font-medium text-red-900 text-lg">About</p>
          <p class="text-md text-gray-500">
            The Marawoy Barangay Portal serves as a centralized hub for
            residents and visitors to access essential information, services,
            and updates about Barangay Marawoy. Our mission is to promote
            transparency, community engagement, and efficient service delivery
          </p>
        </div>

        <!-- Contacts Section -->
        <div class="col-span-2 sm:col-span-1">
          <p class="font-medium text-red-900">Contacts</p>
          <ul class="mt-6 space-y-4 text-md">
            <li>
              <span class="text-gray-700"
                >Address: Brgy. Marawoy, Lipa City, Batangas, Lipa City,
                Philippines</span
              >
            </li>
            <li>
              <span class="text-gray-700">Number: 0961 076 7175</span>
            </li>
            <li>
              <span class="text-gray-700">Hotline: 043 774-0571</span>
            </li>
            <li>
              <span class="text-gray-700">Email: Brgy.Marawoy@gmail.com</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-8 border-t border-red-200 pt-8">
      <div class="sm:flex sm:justify-between">
        <p class="text-xs text-gray-500">
          &copy; 2025 Marawoy Barangay Portal. All rights reserved.
        </p>

        <ul
          class="mt-8 flex flex-wrap justify-start gap-4 text-xs sm:mt-0 lg:justify-end"
        >
          <li>
            <a href="#" class="text-gray-500 transition hover:opacity-75">
              Terms & Conditions
            </a>
          </li>
          <li>
            <a href="#" class="text-gray-500 transition hover:opacity-75">
              Privacy Policy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
