---
import SignUp from "@/components/Signup";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main
    class="min-h-screen grid place-items-center bg-gradient-to-br from-indigo-50 to-white"
  >
    <div
      class="w-full flex flex-col items-center max-w-md p-8 space-y-6 bg-white rounded-xl shadow-lg"
    >
      <SignUp client:load />
      <a class="text-blue-500 text-sm text-center" href="/signin"
        >Already have an account? Signin</a
      >
    </div>
  </main>
</Layout>
