---
import { UsersTable } from "@/components/UsersTable";
import { PostsTable } from "@/components/PostsTable";
import Layout from "@/layouts/Layout.astro";
import { db } from "@/db";
import { PriorityPostsTable } from "@/components/PriorityPostsTable";
import { RequestsTable } from "@/components/requests/RequestsTable";
import { sql } from "drizzle-orm";
import { HighlightsTable } from "@/components/HighlightsTable";
import { DownloadableTable } from "@/components/DownloadableTable";
import { getPosts } from "@/db/queries";
import PostsTableNest from "@/components/PostsTableNest.astro";

if (Astro.locals.user?.role !== "admin") {
  return Astro.redirect("/");
}
---

<Layout>
  <main
    class="container bg-slate-50 max-w-full min-h-[calc(100vh-100px)] mx-auto p-8"
  >
    <section class="grid gap-8 md:grid-cols-2">
      <div
        class="rounded-xl bg-white p-8 col-span-2 shadow-sm border border-slate-100 transition-all hover:shadow-md"
      >
        <h2 class="text-2xl font-semibold text-slate-800 mb-6">Users</h2>
        <UsersTable client:only="react" />
      </div>

      <div
        class="rounded-xl bg-white p-8 shadow-sm border border-slate-100 transition-all hover:shadow-md"
      >
        <h2 class="text-2xl font-semibold text-slate-800 mb-6">Posts</h2>
        <PostsTableNest server:defer>
          <div
            slot="fallback"
            class="flex items-center justify-center h-full my-10"
          >
            <div
              class="animate-spin rounded-full h-8 w-8 border-b-2 border-gray-900"
            >
            </div>
          </div>
        </PostsTableNest>
      </div>

      <div
        class="rounded-xl bg-white p-8 shadow-sm border border-slate-100 transition-all hover:shadow-md"
      >
        <h2 class="text-2xl font-semibold text-slate-800 mb-6">
          Priority Posts
        </h2>
        <PriorityPostsTable client:only="react" />
      </div>
      <div
        class="rounded-xl bg-white p-8 shadow-sm border border-slate-100 transition-all hover:shadow-md"
      >
        <h2 class="text-2xl font-semibold text-slate-800 mb-6">Highlights</h2>
        <p>Add highlights here such as simple pictures with short captions</p>
        <HighlightsTable client:only="react" />
      </div>
      <div
        class="rounded-xl bg-white p-8 shadow-sm border border-slate-100 transition-all hover:shadow-md"
      >
        <h2 class="text-2xl font-semibold text-slate-800 mb-6">
          Downloadable Content
        </h2>
        <p>Add downloadable content here such as pdfs, documents, etc.</p>
        <DownloadableTable client:only="react" />
      </div>
    </section>
  </main>
</Layout>
